
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); /*font-family: 'Dancing Script', cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* font-family: 'Exo 2', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* font-family: 'Nunito', sans-serif; */

/* Variáveis */

:root {
    --cor0: #00261C;   
    --cor1: #044D29;   
    --cor2: #168039;   
    --cor3: #45BF55;   
    --cor4: #97ED8A;   
}

/* config´s globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}